<h3>Weclome to Site Builder</h3>
<p><em>probably the simplest site builder on the planet today</em></p>
<p>And how does it work? I hear you ask, its simple I say.</p>
<p>Using a revolutionary, new, genetically modified pygmy shrew, based engine.</p>
<figure class="shrew" >
  <img src="images/other/shrew-cart-1.gif" alt="">
  <figcaption>A typical shrew in the wild</figcaption>
</figure>
<p>Well sadly perhaps its not shrew powered, But it is small,
 the patently simple static site builder compiles a static site from a set of html based templates.</p>
<p>Please refer to the readme.md file for further details ...</p>
<p>or 📖 read it on line <a href="https://github.com/lucsan/siteBuilder">⚙ here on github</a></p>
